<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Add Task</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Task Name</span>
          <input type="text" ng-model="taskData.name">
        </label>
        <label class="item item-input">
          <span class="input-label">Due Date</span>
          <input type="date" ng-model="taskData.dueDate">
        </label>
        <label class="item item-input">
          <span class="input-label">Time (Optional)</span>
          <input type="ionic-timepicker" ng-model="taskData.dueTime">
        </label>
        <label>
          <span class="item item-input">Importance
          <input type="range" ng-model="taskData.Importance">
        </span>
        </label>
        <label>
          <label class=item "item item input">
            <span class="input-label">Description (Optional)</span>
            <input type="text" ng-mogel="taskData.description">
          </label>
          <label class="item">
            <button class="button button-block button-positive" type="submit">Add Task</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
