<ion-view view-title="Search">
  <ion-content>
  <form ng-submit="doSearch()">
  	<label class="item item-input">
        <span class="input-label">Task Name</span>
             <input type="text" ng-model="search_string">
    </label>
        <label class="item">
        	<button class="button button-block button-positive" type="submit">Search</button>
    </label>
   </form>
   	<ion-list>
   		<div ng-repeat="task in searchList"
         <ion-item
            class="item-accordion"
            ng-click="onTaskClicked(task)"
            ng-class="{active: task.isExpanded}">
            <i class="icon" ng-class="task.isExpanded ? 'ion-minus' : 'ion-plus'"></i>
            {{task.name}}

            <ion-item class="item-accordion"
            ng-show="task.isExpanded">
            <label class="input-label">Description:
            	<div>
            		{{task.desc}}
            	</div>
            </label>
            <div>
            	<label class="input-label">Time Remaining:
            		{{task.work_rem}}
            	</label>
            </div>
        </ion-item>
    </div>
</ion-list>
  </ion-content>
</ion-view>
