<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Add Task</h1>
        <div class="buttons">
            <button class="button button-clear" id="reorder" ng-click="closeTaskAddModal()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="doTaskAdd()">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label"><strong>Title</strong></span>
                    <input type="text" ng-model="taskData.name">
                </label>
                <label class="item item-input">

                    <span class="input-label"><strong>Due Date</strong></span>
                    <input type="date" ng-model="taskData.due_date">
                </label>
                <label class="item item-input">

                  <span class="input-label" id="gritty">
                      <div>
                          <strong>Hour</strong> <select ng-model="timeData.hour" ng-options="hour for hour in timeData.hourOptions"></select>
                          <strong>Minute</strong> <select ng-model="timeData.minute" ng-options="minute for minute in timeData.minuteOptions"></select>
                          <strong>AM/PM</strong> <select ng-model="timeData.AMPM" ng-options="AMPM for AMPM in timeData.AMPMOptions"></select>
                      </div>

                  </span>

                </label>
                <label class="item item-input">
                  <span class="input-label"><strong>Time to Complete</strong> (Hours)</span>
                  <input type="text" ng-model="taskData.work_rem">
                </label>


                <label>
                    <div class="item range">
                        <p id="blank">s</p>  <strong>Importance</strong>
                        <input type="range" name="volume" ng-model="taskData.importance">
                    </div>
                </label>
                <label>
                    <label class="item item-input">
                        <span class="input-label"><strong>Description</strong> (Optional)</span>
                        <input type="text" ng-model="taskData.desc">
                    </label>
                    <label class="item">
                        <button class="button button-block button-positive" type="submit">Add Task</button>
                    </label>
                </div>
            </form>
        </ion-content>
    </ion-modal-view>
