<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Add Task</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doTaskAdd()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Task Name</span>
          <input type="text" ng-model="taskData.name">
        </label>
        <label class="item item-input">
          <span class="input-label">Due Date</span>
          <input type="date" ng-model="taskData.dueDate">
        
        </label>

          <ionic-timepicker input-obj="timePickerObject">
          <span class="input-label">(Tap to add time)
          <standard-time-meridian etime='timePickerObject.inputEpochTime'></standard-time-meridian>
          </span>
          </ionic-timepicker>

        </label>
        <label>
            <div class="item range">
                Importance
                <input type="range" name="volume" ng-model="taskData.importance">
            </div>
        </label>
        <label>
          <label class=item "item item input">
            <span class="input-label">Description (Optional)</span>
            <input type="text" ng-mogel="taskData.description">
          </label>
          <label class="item">
            <button class="button button-block button-positive" type="submit">Add Task</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
