
<ion-view view-title="Tasks">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        <button class="button" id="reorder" ng-click="reorderTaskList()">Reorder</button>
    </ion-nav-buttons>
  <ion-content class="has-header">
        <ion-list show-reorder="shouldShowReorder">

                <ion-item
                     ng-repeat="task in taskList"
                     class="item-accordion taskTitle"
                     item="task"
                     ng-click="onTaskClicked(task)"
                     ng-class="{active: task.isExpanded}">
                    <i class="icon" ng-class="task.isExpanded ? 'ion-minus' : 'ion-plus'"></i>
                    {{task.name}}

                    <ion-item class="item-accordion detailBox"
                        ng-show="task.isExpanded">
                        <label class="input-label detailBox taskDescript"><strong>Description:</strong>
                            <div class="detailBox">
                            {{task.desc}}
                            </div>
                        </label>
                        <div class="detailBox">
                            <label class="input-label"><strong>Time Remaining:</strong>
                                {{task.work_rem}}
                            </label>
                        </div>
                    </ion-item>
                    <ion-reorder-button class="ion-navicon" on-reorder="moveItem(task, $fromIndex, $toIndex)">
                    </ion-reorder-button>
                </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
