/* Empty. Add your own CSS if you like */
.view-slide-in.ng-enter {
  transition: all 1s ease;
  -webkit-transition:all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;

  opacity:0.5;
  position:relative;
  opacity:0;
  top:10px;
  left:20px;
}
.hide-fade.ng-hide-add, .hide-fade.ng-hide-remove {
  -webkit-transition:all linear 1s;
  -moz-transition:all linear 1s;
  -o-transition:all linear 1s;
  transition:all linear 1s;
  display:block!important;
}
.hide-fade.ng-hide-add.ng-hide-add-active,
.hide-fade.ng-hide-remove {
    max-height: 0;
  	overflow: hidden;

  	/* Set our transitions up. */
  	-webkit-transition: max-height 0.8s;
  	-moz-transition: max-height 0.8s;
  	transition: max-height 0.8s;
}
.hide-fade.ng-hide-add,
.hide-fade.ng-hide-remove.ng-hide-remove-active {
  max-height: 200px;
}

.task-list-item.ng-enter-stagger {
  -webkit-animation-delay:200ms;
  animation-delay:200ms;

  /* override to make sure it's not inherited from other styles */
  -webkit-animation-duration:1ms;
  animation-duration:1ms;
}
.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.item-accordion.ng-hide {
  line-height: 0px;
  transition: 0.04s all linear;
}
.item-accordion.ng-hide-add,
.item-accordion.ng-hide-remove {
  display: block !important;
}

.detailBox{
  background-color: #D9D9D9 !important;

}

.taskTitle{
  font-weight:bold;
  font-size:1.5em;
  border-color: black;
}

.menuOption{
  border-color:black;
  font-size:1.35em;
  color:black
}

#gritty{
  display: inline;

}
#blank{
  color:white
}

#reorder{

  position: fixed;
  top:8%;
  right:1.5%;
  background-color: #3385FF;
  color: white;
  border-width: thin;
  border-color: black;

}

.item range{}

.circle {
  position: relative;
  display: block;
  margin: 2em 0;
  background-color: transparent;
  color: #222;
  text-align: center;
}

.circle:after {
  display: block;
  padding-bottom: 100%;
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #ddd;
  content: "";
}

.circle__inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.circle__wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

.circle__content {
  display: table-cell;
  padding: 1em;
  vertical-align: middle;
}
